<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Cadastro de novo paciente</h4>
                        <p class="card-category">1 - Informações pessoais</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nome">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input type="date" matInput placeholder="Data de nascimento">
                                    </mat-form-field>
                                </div>
                            </div>                        
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput  placeholder="Bairro">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput type="number" placeholder="Contato">
                                    </mat-form-field>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Situação">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Sintomas">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Fatores de Risco">
                                    </mat-form-field>
                                </div>
                            </div>                   
                            <div class="d-flex justify-content-center">   <!--POR NO MEIO-->
                                    <button mat-raised-button type="submit" class="btn btn-danger">CADASTRAR</button>
                            </div>                          
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  